<table class="table table-bordered table-striped table-dark ativo">
    <thead>
      <tr>
        <th><%=@unidades.human_attribute_name(:nome)%></th>
        <th><%=@unidades.human_attribute_name(:endereco)%></th>
        <th><%=@unidades.human_attribute_name(:numero)%></th>
        <th><%=@unidades.human_attribute_name(:bairro)%></th>
        <th><%=@unidades.human_attribute_name(:cidade)%></th>
        <th><%=@unidades.human_attribute_name(:cep)%></th>
        <th><%=@unidades.human_attribute_name(:data_desativacao)%></th>
        <th colspan="3"><%=t('table.options')%></th>
      </tr>
    </thead>

    <tbody>
      <h3><%= t('available') %></h3>
      <% @unidades.each do |unidade| %>
        <% if unidade.data_desativacao == ''%>
          <tr>
            <td><%= unidade.nome %></td>
            <td><%= unidade.endereco %></td>
            <td><%= unidade.numero %></td>
            <td><%= unidade.bairro %></td>
            <td><%= unidade.cidade %></td>
            <td><%= cep_formatado(unidade.cep) %></td>
            <td><%= unidade.data_desativacao %></td>
            <td><%= link_to t('links.show'), unidade %></td>
            <td><%= link_to t('links.edit'), edit_unidade_path(unidade) %></td>
            <td><%= link_to 'Delete', unidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>

<table class="table table-bordered table-striped table-dark">
  <thead>
    <tr>
      <th><%=@unidades.human_attribute_name(:nome)%></th>
      <th><%=@unidades.human_attribute_name(:endereco)%></th>
      <th><%=@unidades.human_attribute_name(:numero)%></th>
      <th><%=@unidades.human_attribute_name(:bairro)%></th>
      <th><%=@unidades.human_attribute_name(:cidade)%></th>
      <th><%=@unidades.human_attribute_name(:cep)%></th>
      <th><%=@unidades.human_attribute_name(:data_desativacao)%></th>
      <th colspan="3"><%=t('table.options')%></th>
    </tr>
  </thead>

  <tbody>
    <h3><%= t('unavailable') %></h3>
    <% @unidades.each do |unidade| %>
      <% if unidade.data_desativacao != ''%>
        <tr>
          <td><%= unidade.nome %></td>
          <td><%= unidade.endereco %></td>
          <td><%= unidade.numero %></td>
          <td><%= unidade.bairro %></td>
          <td><%= unidade.cidade %></td>
          <td><%= cep_formatado(unidade.cep) %></td>
          <td><%= unidade.data_desativacao %></td>
          <td><%= link_to t('links.show'), unidade %></td>
          <td><%= link_to t('links.edit'), edit_unidade_path(unidade) %></td>
          <td><%= link_to t('links.delete'), unidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
