<p id="notice"><%= notice %></p>
<div class="d-flex" style="justify-content: center">
  <table class="table table-striped table-dark" style="width: 40% ">
    <tbody>
      <tr>
        <th><%= Unidade.human_attribute_name(:nome) %></th>
        <td><%= @unidade.nome %></td>
      </tr>
      <tr>
        <th><%= Unidade.human_attribute_name(:endereco) %></th>
        <td><%= @unidade.endereco %></td>
      </tr>
      <tr>
        <th><%= Unidade.human_attribute_name(:numero) %></th>
        <td><%= @unidade.numero%></td>
      </tr>
      <tr>
        <th><%= Unidade.human_attribute_name(:bairro) %></th>
        <td><%= @unidade.bairro %></td>
      </tr>
      <tr>
        <th><%= Unidade.human_attribute_name(:cidade) %></th>
        <td><%= @unidade.cidade %></td>
      </tr>
      <tr>
        <th><%= Unidade.human_attribute_name(:cep) %></th>
        <td><%= @unidade.cep %></td>
      </tr>
      <tr>
        <th><%= Unidade.human_attribute_name(:data_desativacao) %></th>
        <td><%= @unidade.data_desativacao %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex-direction: column" style="margin-left: 30%">
  <%= link_to t('links.edit'), edit_unidade_path(@unidade), class: 'btn btn-dark ' %>
  <%= link_to t('links.back'), unidades_path, class: 'btn btn-dark' %>
</div>  


