<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container px-4">
    <%= link_to 'Universidade Federal Fluminense', root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to 'Campus', unidades_path, class: 'nav-link'%></li>
        <li class="nav-item"><%= link_to "Caronas", caronas_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Idioma
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Português", "#{request.path}?locale=pt-BR", class: 'dropdown-item' %></li>
            <li><%= link_to "English", "#{request.path}?locale=en", class: 'dropdown-item' %></li>
          </ul>
        </li>
    </div>
  </div>
</nav>