
<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.carona.other')%></h1>


<table class="table table-bordered table-striped table-dark">
  <thead>
    <tr>
      <th><%= @caronas.human_attribute_name(:nome)%></th>
      <th><%= @caronas.human_attribute_name(:partida)%></th>
      <th><%= @caronas.human_attribute_name(:destino)%></th>
      <th><%= @caronas.human_attribute_name(:dia)%></th>
      <th><%= @caronas.human_attribute_name(:hora)%></th>
      <th><%= @caronas.human_attribute_name(:passageiros)%></th>
      <th><%= @caronas.human_attribute_name(:valor)%></th>
      <th><%= @caronas.human_attribute_name(:observacao)%></th>
      <th><%= t('table.stops')%></th>
      <th colspan="3" ><%= t('table.options')%></th>
    </tr>
  </thead>

  <tbody>
    <% @caronas.each do |carona| %>
      <tr>
        <td><%= carona.nome %></td>
        <td><%= carona.partida %></td>
        <td><%= carona.destino %></td>
        <td><%= diaf(carona.dia) %></td>
        <td><%= horaf(carona.hora) %></td>
        <td><%= carona.passageiros %></td>
        <td>R$<%= carona.valor %></td>
        <td><%= carona.observacao %></td>
        <td>
          <% if carona.paradas.present? %>
            Sim
          <% else %>
             Não
           <% end %>
        </td>
        <td><%= link_to t('links.show'), carona %></td>
        <td><%= link_to t('links.edit'), edit_carona_path(carona)%></td>
        <td><%= link_to t('links.delete'), carona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.newride'), new_carona_path, class: 'btn btn-dark' %>
