<h2 id="notice"><%= notice %></h2>

<div class="d-flex" style="margin-left: 30%">
  <h1>Corrida</h1>
</div>

<div class="d-flex" style="justify-content: center">
  <table class="table table-striped table-dark" style="width: 40%">
    <tbody>
      <tr>
        <th><%= Carona.human_attribute_name(:nome)%></th>
        <td><%= @carona.nome %></td>
      </tr>
      <tr>
        <th><%= Carona.human_attribute_name(:partida)%></th>
        <td><%= @carona.partida %></td>
      </tr>
      <tr>
        <th><%= Carona.human_attribute_name(:destino)%></th>
        <td><%= @carona.destino %></td>
      </tr>
      <tr>
        <th><%= Carona.human_attribute_name(:dia)%></th>
        <td><%= diaf(@carona.dia) %></td>
      </tr>
      <tr>
        <th><%= Carona.human_attribute_name(:hora)%></th>
        <td><%= horaf(@carona.hora) %></td>
      </tr>
      <tr>
        <th><%= Carona.human_attribute_name(:passageiros)%></th>
        <td><%= @carona.passageiros %></td>
      </tr>
      <tr>
        <th><%= Carona.human_attribute_name(:valor)%></th>
        <td><%= @carona.valor %></td>
      </tr>
      <tr>
        <th><%= Carona.human_attribute_name(:observacao)%></th>
        <td><%= @carona.observacao %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex" style="margin-left: 30%">
  <%= link_to t('links.edit'), edit_carona_path(@carona), class: 'btn btn-sm btn-dark' %>
  <%= link_to t('links.back'), caronas_path, class: 'btn btn-sm btn-dark', style: 'margin-left: 1%' %>
</div>
<% if @carona.paradas.presence %>
  <div class="d-flex" style="margin-left: 30%">
    <h1><%= t('activerecord.models.parada.other') %></h1>
  </div>
  <% @carona.paradas.each_with_index do |parada, i| %>
    <div class="d-flex" style="justify-content: center">
      <table class="table table-striped table-dark" style="width: 40%">
        <tbody>
          <tr>
            <th><%= "#{t('activerecord.models.parada.one')} - #{i+1}" %></th>
            <td><%= parada.endereco %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>


